[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "==2.3.2"
regex = "==2023.10.3"
apscheduler = "==3.10.4"
python-dotenv = "==1.0.0"
fastapi = "==0.104.1"
uvicorn = "==0.23.2"
websockets = "==12.0"
prisma = "==0.11.0"
pillow = "==10.2.0"
requests = "==2.31.0"

[dev-packages]

[requires]
python_version = "3.9"
