name: Build Place Files

on:
  release:
    types: [published]

jobs:
  build:
    name: Build Place Files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      
      - name: Install Foreman
        uses: Roblox/setup-foreman@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Create builds directory
        run: mkdir -p roblox/builds

      - name: Build Default
        run: rojo build roblox/default.project.json -o roblox/builds/hub-default.rbxl

      - name: Build Cyborg
        run: rojo build roblox/cyborg.project.json -o roblox/builds/hub-cyborg.rbxl

      - name: Build Catppuccin Latte
        run: rojo build roblox/catppuccin-latte.project.json -o roblox/builds/hub-catppuccin-latte.rbxl

      - name: Build Catppuccino Mocha
        run: rojo build roblox/catppuccin-mocha.project.json -o roblox/builds/hub-catppuccin-mocha.rbxl

      - name: Upload Place Files
        run: gh release upload ${{ github.ref_name }} roblox/builds/*.rbxl
        env:
          GITHUB_TOKEN: ${{ github.TOKEN }}